/* navbar.css */

.nav-black {
    background: #111111;
    transition-timing-function: ease-out;
    transition: all .5s;
}

.nav-wrapper {
    background: linear-gradient(
        360deg,
        transparent,
        rgba(37, 37, 37, .60),
        #111
    );
}


@media only screen and (min-width: 720px) {
    .search-bar {
        width: 7rem;
    }
}

@media only screen and (min-width: 800px) {
    .search-bar {
        width: 13rem;
    }
}

@media only screen and (min-width: 900px) {
    .search-bar {
        width: 16rem;
    }
}

@media only screen and (min-width: 1180px) {
    .search-bar {
        width: 20rem;
    }
}

@media only screen and (min-width: 1180px) {
    .nav-logo {
        margin-left: 4.6rem !important;
    }

    .nav-avatar {
        margin-right: 4.6rem !important;
    }
}
